version: '3.1'

services:

  db:
    image: mysql:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: todoapp
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - 3307:3306
  app:
    build: .
    ports:
      - 82:8080
    depends_on:
      - db
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://db:3307"]
      interval: 5s
      timeout: 10s
      retries: 5